body{
    background-color: #a57575;
    color: rgb(28, 201, 143);
    /* font family= tekst type (kommentarer skrives s책dan her */
    /* teksttyper kan findes p책 google */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: normal;
    /* Kan ogs책 skrives kortere, s책dan her: 
    font: normal 16px Geneva, Tahoma, sans-serif; */

    line-height: 1.6em;
}