body{
    background-color: #a57575;
    color: rgb(28, 201, 143);
    /* font family= tekst type (kommentarer skrives sådan her */
    /* teksttyper kan findes på google */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px; /* px = pixels */
    font-weight: normal;
    /* Kan også skrives kortere, sådan her: 
    font: normal 16px Geneva, Tahoma, sans-serif; */

    line-height: 1.6em; /*em bruges til at afgøre linjeaftstande */
    margin:0;
}

a
{
    text-decoration: none;
    color: black;
}

a:hover
{
    color:orange;
}

a:active
{
    color:palegoldenrod;
}

/*a:visited
{
    color:yellow;
}*/


.container
{
    width: 80%; /* px kan bruges, men % fungerer bedre */
    margin:auto;
}

.button{
    background-color: aliceblue;
    color: orange;
    padding: 10px 15px;
    border:none;
}

.button:hover{
    background-color: orange;
    color: aliceblue;
}

.box-1
{
    background-color: rgb(26, 224, 59);
    color: rgb(6, 6, 224);

    border-right: 5px red solid;
    border-left: 5px blue double;
    border-top:rgb(3, 29, 7) dotted;
    border-bottom: salmon dashed;
    border-width: 10px;
    
    /* hvis alle er ens, som herunder, behøver man ikke at skrive dem alle. Hvis top/bund er ens, og højre/venstre er ens, kan man skrive: padding: 20px 10px */
    padding:20px;

    margin-top:20px;

}

.box-1 h1
{
    font-family: tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2
{
    border: 3px dotted blue;
    padding: 20px;
    margin: 20px 0;
}

.categories
{
    border: 3px grey solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2
{
    text-align: center;
}

.categories ul
{
    padding: 4px;
    padding-left: 20px;
    list-style: square;
}

.categories li
{
    padding-bottom: 6px;
    border-bottom:dotted 1px;
    list-style-image: url('../CSS/billeder/check.png'); 
}
.myForm
{
    padding:20px
}
myForm .form-group
{
    padding-bottom: 15px;
}
.myForm label
{
    display:block;
}
.myForm input[type="text"], .myForm textarea{
    padding:8px;
    width: 100%;
}

.block{
    float:left;
    width: 33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}